body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #008000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  width: calc(100vw - 10px);
  height: 60px;
  background-color: #808000;
  border: 5px solid black;
}
.main {
  width: calc(100vw - 10px);
  height: calc(100vh - 74px);
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-group {
  cursor: pointer;
  transform: rotate(45deg);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}
.first-group:hover {
  transform: rotate(410deg);
}
.first-group:focus {
  transform: scale(0.7);
}
.box {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  border: 5px solid black;
}
.box-1 {
  margin-bottom: 35px;
  margin-left: 2px;
}

.outer-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-group {
  margin-left: -25px;
  display: flex;
  align-items: center;
}

.line {
  width: 100px;
  height: 10px;
  background-color: #0000ff;
  border: 5px solid black;
  transition: transform 0.5s ease-in-out;
}
.line:hover {
  animation: shake 0.5s ease-in-out;
}
.line-1 {
  margin-bottom: 25px;
  margin-left: 1px;
}

.oval {
  width: 90px;
  height: 80px;
  background-color: #008080;
  border: 5px solid black;
  border-radius: 50%;
  margin-left: 30px;
  transition: transform 0.5s ease-in-out;
}
.oval:hover {
  transform: translateX(100px) translateY(-50%);
}
.third-group {
  width: 160px;
  height: 33vh;
  background-color: #0000ff;
  border: 5px solid black;
  padding-top: 30px;
  text-align: center;
}
.name {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 500;
  transition: background-color 0.5s ease-in-out;
}

.name:hover {
  background-color: blueviolet;
}
.name:active {
  height: calc(100% + 30px);
  width: 100%;
  color: transparent;
  background-color: blueviolet;
  border-radius: 0px;
  transform: translateY(-30px);
}
@media screen and (min-height: 740px) {
  .second-group {
    margin-bottom: 15px;
  }
  .third-group {
    height: 35vh;
  }
}
@media screen and (min-height: 800px) {
  .first-group {
    margin-top: 10px;
  }
  .second-group {
    margin-top: 5vh;
  }
}

@media screen and (min-height: 850px) {
  .third-group {
    height: 40vh;
  }
}
@media screen and (min-width: 583px) {
  .nav {
    width: calc(100vw - 14px);
    border: 7px solid black;
  }
  .main {
    height: calc(100vh - 78px);
    flex-direction: row;
    justify-content: space-around;
  }

  .third-group {
    height: 350px;
    background-color: #c83737;
    margin-right: -5vw;
    margin-top: 60px;
  }
}
@media screen and (min-width: 900px) {
  .outer-group {
    margin-bottom: 130px;
    margin-left: 30px;
    flex-direction: row;
  }
  .second-group {
    margin-left: 20vw;
  }
  .third-group {
    background-color: white;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
